@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/*Parametros globales */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poopins", sans-serif;
  background: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  width: 100%;
  background-image: url(images/fondo.png);
  background-position: center bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 70vh;
}

#Servicio,
#Personal {
  background-color: #f8f8f8;
  background-image: url(images/Patitas2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

/**************************/
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0.5rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #fd94d580 0%, #76c7f68c 100%);
  backdrop-filter: blur(10px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.479);
  z-index: -1;
  border-radius: 1.5rem;
}
.logo {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.navbar a {
  font-size: 1.15rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: none;
}

@media (max-width: 880px) {
  .menu {
    padding: 0, 5rem 5%;
  }
}

@media (max-width: 880px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icono {
    display: none;
  }

  #check:checked ~ .icons #close-icono {
    display: block;
  }

  .icons #close-icono {
    display: none;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 25%;
    width: 50%;
    height: 0;
    background: linear-gradient(to right, #fd94d580 0%, #76c7f68c 100%);
    backdrop-filter: blur(10px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.479);
    overflow: hidden;
    transition: 0.3s ease;
    border-radius: 1.2rem;
  }

  #check:checked ~ .navbar {
    height: 12.7rem;
  }

  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
  }
}

@media (max-width: 300px) {
  .icons {
    font-size: 2.3rem;
  }
  .logo {
    font-size: 1.6rem;
  }
}

/***********************************/
.header-content {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 60px;
}

.header-txt {
  width: 40%;
  padding-right: 25px;
}

.header-txt h1 {
  font-size: 55px;
  line-height: 70px;
  font-weight: 800;
  color: grey;
  margin-bottom: 25px;
}
.header-txt p {
  font-size: 18px;
  color: #a0a0a0;
}

.header-img {
  margin-left: 10%;
}

.img-header {
  width: 100%;
}

.botones {
  display: flex;
  margin-top: 50px;
}

.btn1 {
  margin-bottom: 5px;
  max-width: fit-content;
  background-color: #fd94d4;
  padding: 10px 35px;
  margin: 0 auto;
  color: #fff;
  border-radius: 25px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  border: 2px solid #fd94d500;
}

.btn1:hover {
  margin-bottom: 5px;
  max-width: fit-content;
  background-color: #ffffff;
  padding: 10px 35px;
  margin: 0 auto;
  color: #fd94d4;
  border-radius: 25px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  border: 2px solid #fd94d4;
}

@media screen and (max-width: 768px) {
  .header-content {
    flex-direction: column;
    text-align: center;
  }

  .header-txt {
    width: 100%;
    padding: 0;
  }

  .header-txt h1 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
  }

  .header-img {
    margin-left: 0;
  }

  .img-header {
    width: 30vh;
  }

  .botones {
    flex-direction: column;
    margin-top: 20px;
  }
}

/********************Head Servicios***********************/

.Servicios-content {
  padding: 10px;
}

.servicios-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.servicios-txt h2 {
  font-size: 55px;
  line-height: 70px;
  font-weight: 800;
  color: grey;
  margin-bottom: 25px;
}

.servicios-txt p {
  font-size: 18px;
  color: #a0a0a0;
  padding-right: 50px;
}

@media screen and (max-width: 768px) {
  .servicios-txt {
    flex-direction: column-reverse;
    text-align: center;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
  }

  .servicios-txt p {
    padding-right: 0px;
  }

  .servicios-txt h2 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
  }
}

/************************Servicios************************/
.servicios-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  text-align: center;
  padding: 10px;
}

.servicio1,
.servicio2,
.servicio3,
.servicio4,
.servicio5 {
  padding: 5px;
  border-radius: 25px;
  border: 2px solid #76c7f6;
}

.servicios-grid h3 {
  margin-bottom: 5px;
  font-size: 25px;
  color: grey;
}

.servicios-grid p {
  margin-bottom: 5px;

  font-size: 16px;
  color: #a0a0a0;
}

.servicios-grid h4,
span {
  margin-bottom: 5px;
  color: grey;
  font-size: 20px;
}

.servicios-grid span {
  color: grey;
  color: #a0a0a0;
}

.botones-servicios {
  margin-bottom: 5px;
  max-width: fit-content;
  display: flex;
  background-color: #fd94d4;
  padding: 10px 35px;
  margin: 0 auto;
  color: #fff;
  border-radius: 25px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  border: 2px solid #fd94d500;
}

.botones-servicios:hover {
  margin-bottom: 5px;
  max-width: fit-content;
  display: flex;
  background-color: #ffffff;
  padding: 10px 35px;
  margin: 0 auto;
  color: #fd94d4;
  border-radius: 25px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  border: 2px solid #fd94d4;
}

@media screen and (max-width: 768px) {
  .servicios-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .servicios-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/************************Historia************************/

.historia-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 10px;
}
.historia-txt {
  width: 40%;
  padding-right: 25px;
}
.historia-txt h2 {
  font-size: 55px;
  line-height: 70px;
  font-weight: 800;
  color: grey;
  margin-bottom: 25px;
}
.historia-txt p {
  font-size: 18px;
  color: #a0a0a0;
  padding-right: 50px;
}

.historia-img {
  margin-left: 10%;
  margin-top: 50px;
}

.img-historia {
  width: 100%;
}

.grid-historia {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 1em;
  padding: 10px;
}

.grid-historia h3 {
  color: #76c7f6;
  font-size: 80px;
}

.grid-historia p {
  font-size: 20px;
  margin-bottom: 30px;
  color: grey;
}

@media screen and (max-width: 768px) {
  .historia-content {
    flex-direction: column;
    text-align: center;
  }

  .historia-txt {
    width: 100%;
    padding: 0;
  }

  .historia-txt h2 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
  }

  .historia-img {
    margin-left: 0;
  }

  .historia-img {
    width: 30vh;
  }

  .grid-historia {
    grid-template-columns: 1fr; /* Cambia a una sola columna en dispositivos móviles */
  }

  .grid-historia h3 {
    font-size: 40px; /* Reduce el tamaño de fuente en dispositivos móviles */
  }

  .grid-historia p {
    font-size: 18px; /* Reduce el tamaño de fuente en dispositivos móviles */
    margin-bottom: 20px; /* Reduce el espacio inferior en dispositivos móviles */
  }
}

/************************Personal************************/
.personal-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 10px;
}
.personal-txt h2 {
  font-size: 55px;
  line-height: 70px;
  font-weight: 800;
  color: grey;
  margin-bottom: 25px;
}

.personal-txt p {
  font-size: 18px;
  color: #a0a0a0;
  padding-right: 50px;
}

@media screen and (max-width: 768px) {
  .personal-txt {
    flex-direction: column-reverse;
    text-align: center;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
  }

  .personal-txt h2 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 340px) {
  .personal-txt h2 {
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 15px;
  }
}

/*Carta qla de mirda*/

/* Estilos generales para las tarjetas */
.card {
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  width: 296px;
  max-width: 100%; /* Hace que la tarjeta ocupe el ancho completo en dispositivos móviles */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  overflow: hidden;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

.swiper {
  max-width: 950px;
}

.Personal-content .card .image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background-color: #fff;
  box-shadow: 0px -1px 4px 2px rgba(0, 0, 0, 0.25);
}

.Personal-content .card .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.box1 {
  position: absolute;
  min-width: 100%;
  min-height: 30%;
  border-radius: 20px 20px 0 0;
  background: linear-gradient(
    106.32deg,
    #76c7f6 14.23%,
    rgba(255, 25, 25, 0) 139.97%
  );
}

.box2 {
  position: absolute;
  min-width: 100%;
  min-height: 30%;
  border-radius: 20px 20px 0 0;
  background: linear-gradient(
    106.32deg,
    #fd94d4 14.23%,
    rgba(255, 25, 25, 0) 139.97%
  );
}

.card .media-icons {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .media-icons i {
  color: #fff;
  opacity: 0.7;
  margin-top: 17px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card .media-icons i:hover {
  opacity: 1;
}

.card .name-profession {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.name-profession .name {
  font-size: 20px;
  font-weight: 600;
  color: #222;
}

.name-profession .profession {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.Personal-content .card .Sobre {
  display: flex;
  text-align: center;
  color: #444;
  margin-top: 25px;
}

/* Media query para pantallas más pequeñas (móviles) */
@media screen and (max-width: 768px) {
  .card {
    width: 100%; /* Ocupa el ancho completo en dispositivos móviles */
    max-width: none; /* Elimina el ancho máximo en dispositivos móviles */
  }

  .box1,
  .box2 {
    height: 15%; /* Reduce la altura en dispositivos móviles */
  }

  .name-profession .name,
  .name-profession .profession {
    font-size: 18px; /* Ajusta el tamaño de fuente del nombre y la profesión en dispositivos móviles */
  }

  .Personal-content .card .Sobre {
    font-size: 16px; /* Ajusta el tamaño de fuente de la descripción en dispositivos móviles */
    margin-top: 15px; /* Espacio superior reducido en dispositivos móviles */
  }
}

/************************Contacto************************/

.contacto-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
}

.contacto-content h2 {
  font-size: 55px;
  line-height: 70px;
  font-weight: 800;
  color: grey;
  margin-bottom: 25px;
}

.columns {
  column-count: 2;
  column-gap: 30px;
  column-rule: 2px solid #032dff;
  margin-bottom: 20px;
}

.contacto-icons {
  display: flex;
  flex-direction: column;
  color: grey;
}

.contacto-icons i {
  margin-top: 20px;
}

.contacto-icons p {
  size-adjust: auto;
}

@media screen and (max-width: 768px) {
  .contacto-content h2 {
    font-size: 40px; /* Reducir el tamaño de fuente en dispositivos móviles */
    line-height: 50px; /* Ajustar la altura de línea */
    margin-bottom: 15px; /* Reducir el espacio inferior */
  }

  .columns {
    column-count: 1; /* Mostrar una sola columna en dispositivos móviles */
    column-gap: 0; /* Eliminar el espacio entre columnas */
    column-rule: none; /* Eliminar la línea entre columnas */
  }

  .contacto-icons i {
    margin-top: 10px; /* Reducir el espacio superior entre íconos */
  }
}

/************************Footer************************/
.footer {
  background: linear-gradient(to right, #fd94d580 0%, #76c7f68c 100%);
  margin: auto;
  text-align: center;
  padding: 20px;
}

.copyright {
  color: #000000;
}

.copyright a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
/************************************Responsive************************************/

/************************header************************/
